<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interval.com.intervalapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SongDragAndDropActivity"
            android:theme="@style/ToolbarTheme" />
        <activity android:name=".activity.RunActivity" />
        <activity android:name=".activity.DrawerActivity" />
        <activity android:name=".activity.Sample2Activity" />
        <activity
            android:name=".activity.ModeActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activity.SelectedMode" />
        <activity
            android:name=".activity.c.ScrollingActivity"
            android:label="@string/title_activity_scrolling" />
        <activity android:name=".activity.NewAccountActivity" />
    </application>

</manifest>